---
import "@fontsource-variable/inter";
import "~/styles/index.css";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<!doctype html>
<BaseLayout
  title="Privacy Policy - Brote"
  description="Brote is designed with privacy in mind. No accounts, no personal data collected. All brew logs and bean data stored locally on your device."
>
  <div class="max-w-3xl pt-20">

    <h1 class="mb-12 font-bold text-6xl md:text-7xl">
      Privacy Policy
    </h1>

    <p class="mb-10 text-xl leading-relaxed">
      Brote is designed with privacy in mind.
    </p>

    <h2 class="mt-16 mb-4 text-lg font-semibold uppercase tracking-wide">
      Personal Data
    </h2>

    <p class="mb-10 text-base leading-relaxed">
      Brote does not require accounts and does not collect personal information such as your name, email address, or location.
    </p>

    <h2 class="mt-16 mb-4 text-lg font-semibold uppercase tracking-wide">
      Local Data Storage
    </h2>

    <p class="mb-10 text-base leading-relaxed">
      Brew logs, beans, notes, and other data you create in Brote are stored locally on your device.
    </p>

    <h2 class="mt-16 mb-4 text-lg font-semibold uppercase tracking-wide">
      Anonymous Analytics
    </h2>

    <p class="mb-10 text-base leading-relaxed">
      Brote may collect anonymous usage information to help improve the app.
    </p>


  </div>
  <div class="mt-auto flex pb-4 justify-end">

    <div class="text-right">
      <h2 class="mb-2 text-lg font-semibold uppercase tracking-wide">
        Contact
      </h2>

      <p class="text-base">
        <a href="mailto:soohwandev@gmail.com">soohwandev@gmail.com</a>
      </p>
    </div>

  </div>

</BaseLayout>