---
import "@fontsource-variable/inter";
import "~/styles/index.css";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<!doctype html>
<BaseLayout>
  <div class="max-w-3xl pt-20">

    <h1 class="mb-12 font-bold text-4xl">
      Privacy Policy
    </h1>

    <p class="mb-10 text-lg leading-relaxed">
      Brote is designed with privacy in mind.
    </p>

    <h2 class="mt-16 mb-4 text-lg font-semibold uppercase tracking-wide">
      Personal Data
    </h2>

    <p class="mb-10 leading-relaxed">
      Brote does not require accounts and does not collect personal information such as your name, email address, or location.
    </p>

    <h2 class="mt-16 mb-4 text-lg font-semibold uppercase tracking-wide">
      Local Data Storage
    </h2>

    <p class="mb-10 leading-relaxed">
      Brew logs, beans, notes, and other data you create in Brote are stored locally on your device.
    </p>

    <h2 class="mt-16 mb-4 text-lg font-semibold uppercase tracking-wide">
      Anonymous Analytics
    </h2>

    <p class="mb-10 leading-relaxed">
      Brote may collect anonymous usage information to help improve the app.
    </p>


  </div>
  <div class="mt-16 flex justify-end">

    <div class="text-right">
      <h2 class="mb-4 text-lg font-semibold uppercase tracking-wide">
        Contact
      </h2>

      <p>
        soohwandev@gmail.com
      </p>
    </div>

  </div>

</BaseLayout>